<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <style>
        body{
            background-color: #d33c3f;
        }
        #signup {
            height: 100px;
            position: relative;
            float: right;
        }
        #content{
            margin: 10px;
            color: white;
        }
        .label{
            font-weight: bold;
        }
        .box{
            margin-top: 5px;
        }
        .debug{
            color: darkgray;
        }
   </style>
</head>

<body>

    <img src="https://www.redpill-linpro.com/themes/custom/cerpus_base/logo.svg" id="signup">

<div id="content">

    <div class="box">
        <div class="label">Name</div>
        <div>{name}</div>
    </div>

    <div class="box">
        <div class="label">Cloud Provider</div>
        <div>{questionNoOne}</div>
    </div>

    <div class="box">
        <div class="label">Framework</div>
        <div>{questionNoTwo}</div>
    </div>

    <div class="box">
        <div class="label">Template engine</div>
        <div>{questionNoTree}</div>
    </div>

    <div class="box debug">
        <div class="label">Time stamp</div>
        <div>{timeStamp}</div>
    </div>

    <div class="box debug">
        <div class="label">uuid</div>
        <div>{uuid}</div>
    </div>

</div>

</body>

</html>